%header.title
  %h2
    = t(:collaborators)
%p= t(:thanks)

- t(:collaborators_list).each do |speaker|

  .person
    %figure.photo
      .shadow
      = link_to image_tag(speaker["photo"]), speaker["link"]
    %span.name
      = speaker["name"]
    %span.occupation
      = speaker["occupation"]
    %span.contact
      = raw speaker["contact"]


- (6 - t(:collaborators_list).count).times do
  .person
    %figure.photo
      .shadow
      = image_tag "default.png"
    %span.name
      = t(:to_be_announced)
    %span.occupation
      &nbsp;
    %span.contact
      %a{:href=>"javascript:;", :title=>""}
        &nbsp;
