%header
  .container
    %nav
      %span
        = link_to t("blog"), "http://blog.startechconf.com", :target => "_blank"
      %span
        = link_to t("organizers"), "/organizers"
      %span
        = link_to t("speakers_title"), "/speakers"
      %span
        = link_to t("schedule_title"), "/schedule"
      %span
        = link_to t("code_of_conduct"), "/conduct"
      %span
        = link_to t("Last Version"), "http://2011.startechconf.com", :target => "_blank"
    .language-selector
      %ul
        = locale_li(current_locale)
        - (['es', 'en'] - [current_locale]).each do |locale|
          = locale_li(locale)