%header.title
  %h2
    = t(:starttech_2011)

%p= t(:remember_2011)
.gallery.main
  #ri-grid.ri-grid.ri-grid-size-2
    = image_tag "loading.gif", class: "ri-loading-image"
    %ul
      - 95.times do |i|
        %li
          %a{:href =>"#"}
            = image_tag "medium/#{i + 1}.jpg"
