%h2
  = t(:organizers)

.person
  %figure.photo
    .shadow
    = image_tag "people/continuum.png"
  %span.name
    = "Continuum"
  %span.occupation
    = "Developers, designers and consultants with a passion for making user-centered digital ideas come true."
  %span.contact
    = raw "<a href = 'http://twitter.com/continuumhq' title='Continuum'> @continuumhq </a>"

.person
  %figure.photo
    .shadow
    = image_tag "people/coto.png"
  %span.name
    = "Coto"
  %span.occupation
    = "Hacker-entrepreneur, Pragmatic Dreamer and passionate about technology."
  %span.contact
    = raw "<a href = 'http://twitter.com/coto' title='Coto Augosto'> @coto </a>"
