%section.counter
  .container
    .preform
      - if @preregistro && !@preregistro.errors.any?
        %p
          = t(:we_are)
          %span= "%03d" % Preregistro.count
        .call-to
          =t(:pre_register_thanks)
          %span= t(:we_contact_you)
          %span= preregistered_tweet_button
          -#No mostramos los botones de facebook porque se ven horribles
          -#%span= preregistered_fb_button
      - else
        %p
          = t(:we_are)
          %span= "%03d" % Preregistro.count
    .register-form
      %form{:action => preregister_path, :method => :post}
        .fields
          - classinput = @preregistro && @preregistro.errors.any? ? "red" : ""
          %input#mail{:type => "email", :name => "mail", :placeholder => t(:your_email), :value => @preregistro.try(:mail), :class => classinput }
        %a{:href => "#", :class => "button", :title => t(:send_your_info)}
          = t(:preregister)
        %span.discount= t(:discount)
        %span.error= "Este e-mail #{@preregistro.errors[:mail].join(',')}" if @preregistro && @preregistro.errors.any?