%header.title#speakers
  %h2
    = t(:speakers_title)
%p
  = t(:stars)

- t(:confirmed_speakers).each do |speaker|

  .person
    %figure.photo
      .shadow
      = image_tag speaker["photo"]
    %span.name
      = speaker["name"]
    %span.occupation
      = speaker["occupation"]
    %span.contact
      = raw speaker["contact"]


- (6 - t(:confirmed_speakers).count).times do
  .person
    %figure.photo
      .shadow
      = image_tag "default.png"
    %span.name
      = t(:to_be_announced)
    %span.occupation
      &nbsp;
    %span.contact
      %a{:href=>"javascript:;", :title=>""}
        &nbsp;

%p
  = t('speakers_plus')
  = link_to t('see_all_speakers'), '/speakers'