%header.title
  %h2
    = t(:speakers)
%p= t(:stars)

- t(:confirmed_speakers).each do |speaker|

  .speaker
    %figure.photo
      .shadow
      = image_tag speaker["photo"]
    %span.name
      = speaker["name"]
    %span.occupation
      = speaker["occupation"]
    %span.contact
      = raw speaker["contact"]


- 3.times do
  .speaker
    %figure.photo
      .shadow
      = image_tag "default.png"
    %span.name
      Por Anunciar
    %span.occupation
      &nbsp;
    %span.contact
      %a{:href=>"javascript:;", :title=>""}
        &nbsp;
