%header.title
  %h2
    Charlistas
%p Seis estrellas mundiales como conferencistas
.speaker
  %figure.photo
    .shadow
    = image_tag "leaverou.jpg"
  %span.name
    Lea Verou
  %span.occupation
    Developer Realtions W3C
  %span.contact
    %a{:href=>"http://twitter/LeaVerou", :title=>"Lea Verou"}
      @LeaVerou

.speaker
  %figure.photo
    .shadow
    = image_tag "aaronpatterson.jpg"
  %span.name
    Aaron Patterson
  %span.occupation
    Member of Seattle’s Ruby community
  %span.contact
    %a{:href=>"http://twitter/tenderlove", :title=>"Aaron Patterson"}
      @tenderlove

.speaker
  %figure.photo
    .shadow
    = image_tag "default.png"
  %span.name
    Charlista 3
  %span.occupation
    &nbsp;
  %span.contact
    %a{:href=>"javascript:;", :title=>""}
      &nbsp;

.speaker
  %figure.photo
    .shadow
    = image_tag "default.png"
  %span.name
    Charlista 4
  %span.occupation
    &nbsp;
  %span.contact
    %a{:href=>"javascript:;", :title=>""}
      &nbsp;

.speaker
  %figure.photo
    .shadow
    = image_tag "default.png"
  %span.name
    Charlista 5
  %span.occupation
    &nbsp;
  %span.contact
    %a{:href=>"javascript:;", :title=>""}
      &nbsp;

.speaker
  %figure.photo
    .shadow
    = image_tag "default.png"
  %span.name
    Charlista 6
  %span.occupation
    &nbsp;
  %span.contact
    %a{:href=>"javascript:;", :title=>""}
      &nbsp;
