%header.title
  %h2
    = t(:sponsors_name)

.category
  %h4= t("sponsors.platinum.title")
  %ul
    - t("sponsor_slugs.platinum").each do |s|
      %li
        %a{:href=> t("sponsors.platinum."+s+".url"), :title=> t("sponsors.platinum."+s+".name")}
          = image_tag "sponsors/"+s+".png"
.category
  .categorygroup{:style=>"display:none"}
    %h4= t("sponsors.gold.title")
    %ul
      - t("sponsor_slugs.gold").each do |s|
        %li
          %a{:href=> t("sponsors.gold."+s+".url"), :title=> t("sponsors.gold."+s+".name")}
            = image_tag "sponsors/"+s+".png"
  .categorygroup{:style=>"display:none"}
    %h4= t("sponsors.silver.title")
    %ul
      - t("sponsor_slugs.silver").each do |s|
        %li
          %a{:href=> t("sponsors.silver."+s+".url"), :title=> t("sponsors.silver."+s+".name")}
            = image_tag "sponsors/"+s+".png"
  .categorygroup
    %h4= t("sponsors.startups.title")
    %ul
      - t("sponsor_slugs.startups").each do |s|
        %li
          %a{:href=> t("sponsors.startups."+s+".url"), :title=> t("sponsors.startups."+s+".name")}
            = image_tag "sponsors/"+s+".png"

-#%p= t(:sponsors_text)


