%header.title
  %h2
    = t(:sponsors_name)

/#.category
/#  %h4= t(".platinum.title")

.category
  - ["gold", "startups"].each do |cat|
    .categorygroup
      %h4= t("."+cat+".title")
      %ul
        - t("sponsor_slugs."+cat).each do |s|
          %li
            - name = t("."+cat+"."+s+".name")
            %a{:href=> t("."+cat+"."+s+".url"), :title=> name, :onclick => "_gaq.push(['_trackEvent', 'Sponsors', 'View - #{cat}', '#{name}']);"}
              = image_tag "sponsors/"+s+".png"