%header.title
  %h2
    = t(:sponsors_name)

/#.category
/#  %h4= t(".platinum.title")

.category
  - ["gold", "startups"].each do |cat|
    .categorygroup
      %h4= t(".#{cat}.title")
      %ul
        - t("sponsor_slugs.#{cat}").each do |s|
          %li
            - name = t(".#{cat}.#{s}.name")
            - desc = t(".#{cat}.#{s}.desc")
            %a{:href=> t(".#{cat}.#{s}.url"), :title=> "#{name} - #{desc}", :onclick => "_gaq.push(['_trackEvent', 'Sponsors', 'View - #{cat}', '#{name}']);", :target => "_blank"}
              = image_tag "sponsors/#{s}.png"