%h2
  = t(:organizers)

.person
  %figure.photo
    .shadow
    = image_tag "people/continuum.png"
  %span.name
    = "Continuum"
  %span.occupation
    = "Developers, designers and consultants with a passion for making user-centered digital ideas come true."
  %span.contact
    = raw "<a href = 'http://twitter.com/continuumhq' title='Continuum'> @continuumhq </a>"
  %span.contact
    %a{'href' => "http://www.continuum.cl", 'target' => '_blank'}
      = "www.continuum.cl"

.person
  %figure.photo
    .shadow
    = image_tag "people/coto.png"
  %span.name
    = "Coto"
  %span.occupation
    = "Hacker-entrepreneur, Pragmatic Dreamer and passionate about technology. Co-Founder & CTO at Qompazz"
  %span.contact
    = raw "<a href = 'http://twitter.com/coto' title='Coto Augosto'> @coto </a>"
  %span.contact
    %a{'href' => "http://www.beecoss.com", 'target' => '_blank'}
      = "www.beecoss.com"

.person
  %figure.photo
    .shadow
    = image_tag "people/utfsm.png"
  %span.name
    = "Universidad Santa María"
  %span.occupation
    = "Ingeniería en Chile"
  %span.contact
    = raw "<a href = 'http://twitter.com/usantamaria' title='usantamaria'> @usantamaria </a>"
  %span.contact
    %a{'href' => "http://www.utfsm.cl", 'target' => '_blank'}
      = "www.utfsm.cl"