= image_tag "loading.gif", style: "display:none"

= render partial: "partials/header"

.wrapper
  %section.presentation
    .container
      %header.innerpage
        %figure.logo
          = link_to image_tag("logo_startechconf_2013@2x.png", alt: t("sitename")), "/"
        %h1= t("organizers")

  %section.speakers
    .container
      %table.speakers-table.orgs
        - t(:organizers_list).each do |organizer|
          %tr{:class=> cycle('odd', ''), :id=> organizer['name'].parameterize}
            %td.photo
              = image_tag organizer["photo"]
            %td.name
              - if organizer['link'] != ""
                %strong= link_to organizer['name'], organizer['link'], :target => "_blank"
              - else
                %strong= organizer['name']
              - unless organizer['team'] == nil
                %br/
                - organizer['team'].each do |member|
                  %strong= member
              %small
                = organizer['occupation']
                %br/
                %em= organizer['country']
            %td
              = raw organizer['contact']

      %h2#selected= t("collaborators")
      %p= t("thanks")
      %table.speakers-table.collabs
        - t(:collaborators_list).each do |collaborator|
          %tr{:class=> cycle('', 'odd'), :id=> collaborator['name'].parameterize}
            %td.photo
              = image_tag collaborator["photo"]
            %td.name
              - if collaborator['link'] != ""
                %strong= link_to collaborator['name'], collaborator['link'], :target => "_blank"
              - else
                %strong= collaborator['name']
              %small
                = collaborator['occupation']
                %br/
                %em= collaborator['country']
            %td
              = raw collaborator['contact']

      %h2#selected= t("assistants")
      %p= t("assistants_thanks")
      %div.assistants
        -t(:assistants_list).each do |section|
          %h3= section["section_title"]
          - @peoples = section["assistants"]
          - @peoples.each do |assistant|
            %div.assistant
              = image_tag "assistants/#{assistant["photo"]}"
              %br
              %span.name= assistant["name"]
              %br
              %span.university= assistant["university"]
