= image_tag "loading.gif", style: "display:none"

= render partial: "partials/header"

.wrapper
  %section.presentation
    .container
      %header
        %figure.logo
          = link_to image_tag("logo_startechconf_2013@2x.png", alt: t("sitename")), "/"
      %hgroup
        %h1
          = t("sitename")
          = t("year")
        %h2
          %strong= t(:conference_dates)
        %h3
          %a{:href=>"#place"}
            %i.icon-map-marker
            Universidad Técnica Federico Santa María, Campus San Joaquín
        %p
          = raw t(:presentation_text_html)
          = link_to t("see_speakers"), "#speakers"
        .pricing
          %table
            %tr
              %td.left
                %em
                  = t("early_birds_html")
                  %i.icon-arrow-right
              %td.right
                %strong
                  %s 150
                  128 USD
                =t("price_general")
                %br
                %strong
                  %s 60
                  50 USD
                =t("price_students")
          %h3.button-buy
            = link_to t(:buy_your_ticket_here), "https://eventioz.cl/e/startechconf-2013/registrations/new"
  %section.people
    .container
      = render partial: "partials/speakers"
  %section.sponsors
    .container
      = render partial: "partials/sponsors"
  %section#place
    .container
      = render partial: "partials/place"
  %section.last-version
    .container
      = render partial: "partials/last-version"
  %section.tickets
    .container
      = render partial: "partials/tickets"

%footer
  .container
    %nav
      %ul
        %li
          %a{:href => "mailto:contact@startechconf.com"}
            Email us:
            %strong contact@startechconf.com
    .social-links
      %a{:href => "https://www.facebook.com/StarTechConf?fref=ts", :title => "Facebook", :class => "facebook", :target => "_blank"}
        %b Facebook
      %a{:href => "http://twitter.com/startechconf", :title => "Twitter", :class => "twitter", :target => "_blank"}
        %b Twitter
      %a{:href => "http://feeds.feedburner.com/startechconf", :title => "RSS", :class => "rss", :target => "_blank"}
        %b RSS
