= image_tag "loading.gif", style: "display:none"
%header
  .container
    %nav
      = link_to t("blog"), "http://blog.startechconf.com", :target => "_blank"
      = link_to t("version_2011"), "http://2011.startechconf.com", :target => "_blank"
    .language-selector
      %ul
        = locale_li(current_locale)
        - (['es', 'en'] - [current_locale]).each do |locale|
          = locale_li(locale)

.wrapper
  %section.presentation
    .container
      %header
        %figure.logo
          = image_tag "logo_startechconf_2013@2x.png", alt: t("sitename")
      %hgroup
        %h1
          = t("sitename")
          = t("year")
        %h2= t(:conference_dates)
        %h3= raw t(:presentation_title_html)
        %p
          = raw t(:presentation_text_html)
    = render partial: "partials/registerform"
  %section.speakers
    .container
      = render partial: "partials/speakers"
  %section.sponsors
    .container
      = render partial: "partials/sponsors"
  %section.place
    .container
      = render partial: "partials/place"
  %section.last-version
    .container
      = render partial: "partials/last-version"
  %section.tickets
    .container
      = render partial: "partials/tickets"

%footer
  .container
    %nav
      %ul
        %li
          %a{:href => "mailto:contact@startechconf.com"}
            Email us:
            %strong contact@startechconf.com
    .social-links
      %a{:href => "https://www.facebook.com/StarTechConf?fref=ts", :title => "Facebook", :class => "facebook", :target => "_blank"}
        %b Facebook
      %a{:href => "http://twitter.com/startechconf", :title => "Twitter", :class => "twitter", :target => "_blank"}
        %b Twitter
      %a{:href => "http://feeds.feedburner.com/startechconf", :title => "RSS", :class => "rss", :target => "_blank"}
        %b RSS
