= image_tag "loading.gif", style: "display:none"

= render partial: "partials/header"

.wrapper
  %section.presentation
    .container
      %header
        %figure.logo
          = link_to image_tag("logo_startechconf_2013@2x.png", alt: t("sitename")), "/"
      %hgroup
        %h1
          = t("sitename")
          = t("year")
        %h2
          %strong= t(:conference_dates)
        %h3
          %a{:href=>"#place"}
            %i.icon-map-marker
            USM Campus San Joaquín
        %p
          = raw t(:presentation_text_html)
          = link_to t("see_speakers"), "#speakers"
        .pricing
          %table
            %tr
              %td.right
                %strong
                  150 USD
                =t("price_general")
                %br
                %strong
                  60 USD
                =t("price_students")
              %td.right
                =t("price_includes")
          %h3.button-buy
            = link_to t(:tickets_not_available), "#"
  %section.people
    .container
      = render partial: "partials/speakers"
  %section.sponsors
    .container
      = render partial: "partials/sponsors"
  %section#place
    .container
      = render partial: "partials/place"
  %section.last-version
    .container
      = render partial: "partials/last-version"
  %section.tickets
    .container
      = render partial: "partials/tickets"
