= image_tag "loading.gif", alt: "Cargando", style: "display:none"
%header
  .container
    %nav
      //Menu del sitio
      %ul
        %li
          %a{:href => "https://docs.google.com/spreadsheet/embeddedform?formkey=dEk4aENtcGx1djFQUFFtcXJfeEdnMkE6MQ", :class => "option-link"}
            ¿Quieres colaborar con la versi&oacute;n 2013&#63;

    .language-selector
      %ul
        %li.selected
          %a{:href => "#"}
            Español
        %li
          %a{:href => "#"}
            English
        %li
          %a{:href => "#"}
            Portugese
      %a{:href => "#"}

.wrapper
  %section.presentation
    .container
      %header
        %figure.logo
          = image_tag "logo_startechconf_2013@2x.png", alt: "Logo Startechconf 2013"
      %hgroup
        %h1 Startechconf 2013
        %h2 Este año...
        %h3 48 horas y el evento de tecnolog&iacute;a m&aacute;s importante de Chile
        %p La gran conferencia que une a estrellas mundiales en desarrollo de software y expertos locales en tecnolog&iacute;a para hablar de HTML5, CSS3, JavaScript, Ruby, Java, Python, Mobile entre otros.
    = render partial: "partials/registerform"
  %section.speakers
    .container
      = render partial: "partials/speakers"
  %section.sponsors
    .container
      = render partial: "partials/sponsors"
  %section.place
    .container
      = render partial: "partials/place"
  %section.last-version
    .container
      = render partial: "partials/last-version"
  %section.tickets
    .container
      = render partial: "partials/tickets"

%footer
  .container
    %nav
      %ul
        %li
          %a{:href => "#"}
    .social-links
      %a{:href => "https://www.facebook.com/StarTechConf?fref=ts", :title => "Facebook", :class => "facebook"}
        %b Facebook
      %a{:href => "http://twitter.com/startechconf", :title => "Twitter", :class => "twitter"}
        %b Twitter
      %a{:href => "http://feeds.feedburner.com/startechconf", :title => "RSS", :class => "rss"}
        %b RSS
