= image_tag "loading.gif", style: "display:none"

= render partial: "partials/header"

.wrapper
  %section.presentation
    .container
      %header.innerpage
        %figure.logo
          = link_to image_tag("logo_startechconf_2013@2x.png", alt: t("sitename")), "/"
        %h1= t(".title")
  %section.speakers
    .container
      %h2#keynoters= t(".keynoters")
      %p= t(".keynoters_desc")
      %table.speakers-table.headliners
        %tr
          %th{ :width => "48"}
          %th= t(".speaker")
          %th= t(".talk")
        - t('confirmed_speakers').each do |speaker|
          %tr{:class=> cycle('', 'odd'), :id=> speaker['name'].parameterize}
            %td.photo
              = image_tag speaker["photo"]
            %td.name
              %strong= speaker['name']
              %small
                = speaker['occupation']
                %br/
                - unless speaker['contact'] == ""
                  %strong= link_to '@'+ speaker['contact'], "http://www.twitter.com/"+speaker['contact'], :title => speaker['name'], :target => "_blank"
                  %br/
                %em= speaker['country']
            %td
              - unless speaker['talk_name'] == ""
                = speaker['talk_name']
              - else
                = t('to_be_announced')
      %h2#selected= t(".selected")
      %p= t(".selected_desc")
      %table.speakers-table
        %tr
          %th{ :width => "48"}
          %th= t(".speaker")
          %th= t(".talk")
        - t('selected_talks').each do |speaker|
          %tr{:class=> cycle('', 'odd'), :id=> speaker['name'].parameterize}
            %td.photo
              = image_tag speaker["photo"]
            %td.name
              %strong= speaker['name']
              %small
                = speaker['occupation']
                %br/
                - unless speaker['contact'] == ""
                  %strong= link_to '@'+ speaker['contact'], "http://www.twitter.com/"+speaker['contact'], :title => speaker['name'], :target => "_blank"
                  %br/
                %em= speaker['country']
            %td
              - unless speaker['talk_name'] == ""
                = speaker['talk_name']
              - else
                = t('to_be_announced')
              %br/
              %small= speaker['talk_desc']
